<div class="form-content">
  <div class="form-container">
    <h2>Registration</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName"/>
      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
           class="alert alert-danger">
        <div *ngIf="firstName?.errors?.required">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" id="lastName">
        <div *ngIf="!lastName?.valid && (lastName?.dirty || lastName?.touched)"
             class="alert alert-danger">
          <div *ngIf="lastName?.errors?.required">
            This field is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
             class="alert alert-danger">
          <div *ngIf="email?.errors?.required">
            This field is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" formControlName="phoneNumber" id="phoneNumber"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" id="password"/>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
             class="alert alert-danger">
          <div *ngIf="password?.errors?.minlength">
            Enter min 5 characters
          </div>
          <div *ngIf="password?.errors?.maxlength">
            Enter only 10 characters
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>
